{% extends 'flatpages/default.html' %}
{% load custom_filters %}


{% block title %}Station{% endblock title %}

{% block content %}
<h1 style="text-align: center;">{{ title }}</h1><h3 style="text-align: center;">{{ time_now|date:"d M Y"}}</h3>
<p>&nbsp</p>
        <table>
            <tbody>
                   <tr>Article</td>
                       <td style="width: 900px; text-align: center;">Id</td>
                       <td style="width: 900px; text-align: center;">Title</td>
                       <td style="width: 250px; text-align: center;">Text</td>
                        <td style="width: 250px; text-align: center;">Rating</td>
                        <td style="width: 250px; text-align: center;">Date creation</td>
                   </tr>


                    <tr>
                        <td style="text-align: center">{{ article.id}}</td>
                        <td style="text-align: center">{{ article.title }}</td>
                        <td style="text-align: center">{{ article.text }}</td>
                        <td style="text-align: center">{{ article.rating }}</td>
                        <td style="text-align: center">{{ article.dateCreation }}</td>

                    </tr>

            </tbody>
        </table>


{% endblock %}